#main {
    background-color: skyblue;
    width: 300px;
    height: 200px;
    margin: 5px;
}
#cloud {
    position: relative;
    background-image: url("http://itb.mateuyabar.com/DAM-M04/UF1/exmario/clouds.png");
}
#mario {
    background-color: skyblue;
    position: relative;
    top: 18px;
    background-repeat: no-repeat;
}
#base {
    height: 300px;
    width: 300px;
    position: relative;
    background-repeat: repeat;
    background-image: url("http://itb.mateuyabar.com/DAM-M04/UF1/exmario/base.png");
}